body {
    background: linear-gradient(-90deg, red, violet, orange, indigo, green, blue);
    background-size: 400% 400%;
    animation: sk_rainbow 8s linear infinite;
}

@keyframes sk_rainbow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}